<closebutton></closebutton>

<div class="row">

	<div class="btn-group btn-group-toggle" data-toggle="buttons">
	  <button class="btnCustom btn" [routerLink] = "['/graphs/temporal']" [routerLinkActive] = "[ 'active' ]">
	    <input type="radio" name="options" id="option1" autocomplete="off"> 
	    	Estadisticas temporales
	  </button>
	  <button class="btnCustom btn" [routerLink] = "['/graphs/turns']" [routerLinkActive] = "[ 'active' ]">
	    <input type="radio" name="options" id="option3" autocomplete="off">  
	    	Estadisticas de turnos
	  </button>
	</div>

	<br><br>


	<div *ngIf="this.getTurn()" style="margin-left: 30px">
		
		<div class="btn-group btn-group-toggle" data-toggle="buttons">
			<button class="btnCustom btn" (click) = "clickDoctor()">
				<input type="radio" name="options" id="option1" autocomplete="off"> 
					Demora de Medicos
			</button>
			<button class="btnCustom btn" (click) = "clickPatient()">
				<input type="radio" name="options" id="option3" autocomplete="off">  
					Demora Pacientes
			</button>
		</div>
	</div>

	<div *ngIf="this.getTurn() || this.getTemporal()" style="margin-left: 30px">
		<button type="button" class="btn btn-success" (click)="filter()" >
		Filtrar
	</button>
	</div>

</div>
<hr>









<div *ngIf="this.getTemporal()">	
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th>Medico</th>
	      <th>Horarios ofrecidos</th>
	      <th>Turnos tomados</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>doctor1</td>
	      <td>40</td>
	      <td>43</td>
	    </tr>
	    <tr>
	      <td>doctor2</td>
	      <td>22</td>
	      <td>31</td>
	    </tr>
	  </tbody>
	</table>


	<div>
	  <div style="display: block; max-width: 70%">
	    <canvas baseChart
	            [datasets]="barChartData"
	            [labels]="barChartLabels"
	            [options]="barChartOptions"
	            [legend]="barChartLegend"
	            [chartType]="barChartType"
	            (chartHover)="chartHovered($event)"
	            (chartClick)="chartClicked($event)"></canvas>
	  </div>
	</div>	
</div>
