<div class="col">   
	<button type="button" class="btn-circle" role="button" [routerLink] = "['graphs']" [routerLinkActive] = "[ 'active' ]">
		<img src="/assets/btnGraph.png" alt="Gráficos" style="margin-left:-10px; margin-top: -3px"/>
	</button>

	<button type="button" class="btn-circle" role="button" [routerLink] = "['turns']" [routerLinkActive] = "[ 'active' ]">
		<img src="/assets/btnTurn.png" alt="Turnos" style="margin-left:-10px; margin-top: -3px"/>
	</button>

	<button type="button" class="btn-circle" role="button" [routerLink] = "['home']">
		<img src="/assets/close.png" alt="Turnos" style="margin-left:-10px; margin-top: -3px"/>
	</button>

</div>
