<div class="input-group input-group-sm mb-3" >


  <!-- Doctores -->
  <div class="input-group-prepend">
    <div class="input-group-text">
      Medico
    </div>
  </div>
  <select ng-model="selectedDoctor" #doctor (change)="onChangeDoctor(doctor.value)" class="form-control" style="max-width: 200px;">
    <option> Ninguno </option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>


  <!-- Servicio -->
  <div class="input-group-prepend" style="margin-left: 30px">
    <div class="input-group-text">
      Servicio
    </div>
  </div>

  <select ng-model="selectedService" #service (change)="onChangeService(service.value)" class="form-control" style="max-width: 200px;">
    <option> Ninguno </option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>

  <!-- Cobertura -->
  <div class="input-group-prepend" style="margin-left: 30px">
    <div class="input-group-text">
      Cobertura Médica
    </div>
  </div>        

  <select  ng-model="selectedCoverage" #coverage (change)="onChangeCoverage(coverage.value)" class="form-control" style="max-width: 200px;">
    <option> Ninguno </option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>


</div>

<div class="input-group input-group-sm mb-3">

  <!-- Desde..- -->
  <form class="form-inline">
    <div class="input-group-prepend">
      <div class="input-group-text">
        Desde
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
        name="dpSince" [(ngModel)]="modelSince" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" (ngModelChange)="onChangeSince(modelSince.value)">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
            <img src="/assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
          </button>
        </div>
      </div>
    </div>
    </form>

    <!-- Hasta..- -->
    <form class="form-inline" style="margin-left: 20px">
      <div class="input-group-prepend">
        <div class="input-group-text">
          Hasta
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
          name="dpUntil;" [(ngModel)]="modelUntil" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (ngModelChange)="onChangeUntil(modelUntil.value)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <img src="/assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
            </button>
          </div>
        </div>
      </div>
    </form>
</div>

<hr>

<button type="button" class="btn btn-success" (click)="filterList()" >
  Filtrar
</button>