<closebutton></closebutton>
<div  class="input-group input-group-sm mb-3" style="margin-bottom: 20px; width: 80%; ">
		<div class="input-group mb-3" style="max-width: 250px;margin-right: 18px">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">
					<strong>Agrupar por</strong>
				</span>
			</div>
			<select ng-model="selectedGroupBy" #groupBy (change)="onChangeGroupBy(groupBy.value)" class="form-control" style="max-width: 200px;">
				<option> Cobertura </option>
				<option> Servicio </option>
			</select>
		</div>


		<button type="button" class="btn btn-success" (click)="filter()" style="margin-left: 20px; height: 40px" >
		Visualizar
	</button>
</div>

<div class="table-responsive table-sm">
<!-- <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> -->
	<table *ngIf="coverage()" class="table table-striped table-hover table-secondary">
		<thead>
			<tr>
				<th scope="col">{{ this.valueGroupBy | UPPERCASE }}</th>
				<th>CANTIDAD DE TURNOS</th>
				<th> % DEL TOTAL</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let c of cobs">
				<th>{{ c }}</th>
				<th> {{ this.maths.count(this.cob, c) }} </th>
				<th> {{ this.maths.calculatePercentage(this.cob, c) }} </th>
			</tr>
		</tbody>
	</table>

	<table *ngIf="service()" class="table table-striped table-hover table-secondary">
		<thead>
			<tr>
				<th scope="col">{{ this.valueGroupBy | UPPERCASE }}</th>
				<th>CANTIDAD DE TURNOS</th>
				<th> % DEL TOTAL</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let s of sers">
				<th>{{ s }}</th>
				<th> {{ this.maths.count(this.ser, s) }} </th>
				<th> {{ this.maths.calculatePercentage(this.ser, s) }} </th>
			</tr>
		</tbody>
	</table>

	
<!-- </div> -->
</div> 