<div *ngIf="!logged" class="login">
	<login></login>
</div>

<div *ngIf="logged" style="user-select: none;">
	<navBar class="fixed-top"></navBar>

	<body>
	   

		<div class="row-md" >  

		    <br>

		    <div class="col-md-1 buttons" style="border-right: 1px solid rgb(255, 204, 153); height: 82%">
		        <buttons></buttons>
		    </div>
		    	
		    
		    <div class="col-md-11 interfaces"  style="margin-left: 10%; width: 90%">
		        <filters></filters>
		        
		        <router-outlet ></router-outlet>
		    </div>
	    
		</div>
	</body>
</div>
<Footer style="user-select: none;"></Footer>
<uparrow></uparrow>



