<nav class="navbar navbar-expand-lg navbar-dark  bg-orange">
  <a class="navbar-brand" style="font-size: 25px; color: white">Medical <small> Software</small></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     <!--  <li class="nav-item active">
        <a class="nav-link arrow" href="#">↑</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="" (click) = "logout()">SALIR</a>
      </li> -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
    <div *ngIf="clientsExists() && isLogged()">
      <span>Conectado a: </span>
      <span style="margin-left: 10px; margin-right: 30px;"><strong>{{ this.user }}</strong></span>
    </div>

   


    <div *ngIf="clientsExists() && isLogged()" class="input-group" style="max-width: 250px; margin-right: 18px;">
      <div class="input-group-prepend">
        <span class="input-group-text">Cambiar cliente</span>
      </div>
      <select class="form-control" #client (change)="changeClient(client.value)" style="max-width: 200px;" *ngFor="let c of clients">
        <!-- <option>{{ this.user }}</option> -->
        <option> {{ c.nombreFuente }} </option>
      </select>
    </div>

   


    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->

      <button *ngIf="isLogged()" class="btn btn-warning my-2 my-sm-0" style="background-color: rgb(255, 179, 102); border: 0px; color: white" 
      [routerLink] = "['login']" (click) = "logout()">
        SALIR
      </button>
      
  </div>
</nav>